body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    /* padding: 0; */
    background-image: url('./images/gilmore\ girls.avif');
    /* Replace 'your-background-image.jpg' with the actual path to your image */
    background-size: cover;
    /* Adjust to cover the entire viewport */
    background-position: center;
    /* Center the background image */
    background-repeat: no-repeat;
    /* Prevent the background image from repeating */
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    /* Adding a semi-transparent white background to improve readability */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

section {
    margin-bottom: 20px;
}

h2 {
    color: #333;
    text-align: center;
}

p {
    line-height: 1.6;
    color: #555;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 1em;
    background-color: #333;
    color: #fff;
    position: center;
    bottom: 0;
    width: 100%;
}

.snowflake {
    position: fixed;
    background: #fff;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    pointer-events: none;
    user-select: none;
    z-index: 9999;
    animation: snowfall linear infinite;
}

@keyframes snowfall {
    0% {
        transform: translateY(0) rotate(0deg);
    }

    100% {
        transform: translateY(100vh) rotate(360deg);
    }
}